{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% from "includes/scripts.html" import with_errors %}

{% block content %}

<!--suppress HtmlUnknownTarget -->
<form action="{{ url_for('inbox') }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="py-4">
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Inbox</h1>
            </div>
            <div>
                <button class="btn btn-block btn-primary"
                        data-bs-target="#modal-compose"
                        data-bs-toggle="modal"
                        type="button">
                    Compose
                </button>
                {{ form.submit(class="btn btn-outline-danger") }}
            </div>
        </div>
    </div>

    <div class="card border-0 shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-light">
                    <tr>
                        <th class="border-0 rounded-start"></th>
                        <th class="border-0">From</th>
                        <th class="border-0">Subject</th>
                        <th class="border-0 rounded-end">Received</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for email, choice in emails %}
                    <tr>
                        <td>
                            {{ choice(class="form-check-input") }}
                        </td>
                        <td class="fw-bold">
                            <a data-bs-target="#modal-{{ email.uid }}"
                               data-bs-toggle="modal">
                                {{ email.headers.sender }}
                            </a>
                        </td>
                        <td>
                            {{ email.headers.subject }}
                        </td>
                        <td>
                            {{ email.headers.short_date }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
<!-- Modal Content -->
<div aria-hidden="true" aria-labelledby="modal-compose" class="modal fade"
     id="modal-compose"
     role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="#">
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="to">To</label>
                        <div class="input-group">
                            <input autofocus
                                   class="form-control"
                                   id="to"
                                   placeholder="Username"
                                   required
                                   type="text">
                            <div class="form-control">
                                @{{ config.EMAIL_DOMAIN }}
                            </div>
                        </div>
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="from">From</label>
                        <input class="form-control"
                               disabled
                               id="from"
                               placeholder="{{current_user}}@{{config.EMAIL_DOMAIN}}"
                               type="email">
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="subject">Subject</label>
                        <input autofocus
                               class="form-control"
                               id="subject"
                               placeholder="(No subject)"
                               type="text">
                    </div>
                    <!-- End of Form -->
                    <!-- Form -->
                    <div class="mb-3">
                        <label for="message">Message</label>
                        <textarea autofocus
                                  class="form-control"
                                  id="message"
                                  placeholder="Email message"
                                  rows="3">
                        </textarea>
                    </div>
                    <!-- End of Form -->
                </form>
                <button class="btn btn-secondary" type="button">Send</button>
                <button class="btn btn-link text-gray ms-auto"
                        data-bs-dismiss="modal"
                        type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->
{% for email, _ in emails %}
<!-- Modal Content -->
<div aria-hidden="true"
     aria-labelledby="modal-{{ email.uid }}"
     class="modal fade"
     role="dialog"
     id="modal-{{ email.uid }}"
     tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="h6 modal-title">{{ email.headers.subject }}</h2>
                <h2 class="h6 modal-title">{{ email.headers.full_date }}</h2>
            </div>
            <div class="modal-body">{{ email.body }}</div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-link text-gray ms-auto"
                        data-bs-dismiss="modal">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End of Modal Content -->
{% endfor %}

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
